*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}



.nav-1 span{
   color: red;
}
ul{
   list-style: none;
}
li span{
   color: red;
}
li a{
   text-decoration: none;
  padding-right: 10px;
  
   
}
.nav-3 button{
   background-color: red;
   border: none;
   padding-top: 5px;
   padding-bottom: 5px;
   padding-right: 10px;
   padding-left: 10px;
   border-radius: 4px;
   color: white;
}
.div1{
   background-repeat: no-repeat;
   background-size: cover;
}
.carousel-caption {
  position: absolute;
  top: 60%;             /* vertical center */
  left: 50%;            /* horizontal center */
  transform: translate(-50%, -50%);
  text-align: center;
}



.para1{
text-align: center;
}
.para1 p{
   padding-right: 190px;
}
.heading-1{
   color: white;
   text-align: center;
}
.heading-1 span{
   padding-right: 73px;
}
.btn{
   margin-right: 180px;
}
.btn-1{
   align-items: center;
   background-color: red;
   color: white;
   padding:6px;
   border-radius: 5px;
}
.btn-2{
   background-color: black;
   color: white;
   padding:6px;
   border-radius: 5px;
   border: 1px solid white;
   margin-left: 5px;
}

.icon-1{
   background-color: red;
   width: 70px;
   height: 80px;
   border-radius: 50% 40%;
   align-items: center;
   margin-right: 10px;
}
.icon-1 i{
 font-size: 50px;
}
.image{
  background-color: red;
   width: 200px;
   height: 200px;
   border-radius: 40% 30% 10%;
}
.img{
   border-radius: 30% 40%;
}
