*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}


.nav-1 span{
   color: red;
}
ul{
   list-style: none;
}
li span{
   color: red;
}
li a{
   text-decoration: none;
  
  
   
}
.lists button{
   background-color: red;
   border: none;
   padding-top: 5px;
   padding-bottom: 5px;
   padding-right: 10px;
   padding-left: 10px;
   border-radius: 4px;
   color: white;
}
.div1{
   background-repeat: no-repeat;
   background-size: cover;
}
.carousel-caption {
  position: absolute;
  top: 60%;             
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}



.para1{
text-align: center;
}
.para1 p{
   padding-right: 190px;
}
.heading-1{
   color: white;
   text-align: center;
}
.heading-1 span{
   padding-right: 73px;
}
.btn{
   margin-right: 180px;
}
.btn-1{
   align-items: center;
   background-color: red;
   color: white;
   padding:6px;
   border-radius: 5px;
}
.btn-2{
   background-color: black;
   color: white;
   padding:6px;
   border-radius: 5px;
   border: 1px solid white;
   margin-left: 5px;
}

.icon-1{
   background-color: red;
   width: 70px;
   height: 80px;
   border-radius: 50% 40%;
   align-items: center;
   margin-right: 10px;
}
.icon-1 i{
 font-size: 50px;
}
.image{
  background-color: red;
   width: 200px;
   height: 250px;
   border-radius: 50% 50%  50% 30%;
}
.img img{   
   border-radius: 50% 50% 50% 50% ;
}
.para-2 p{
   text-align-last: center;
   
}
.paragraph{
 color: red;
}
.icon-2{
   background-color: red;
   width: 70px;
   height: 80px;
   border-radius: 50% 40%;
   align-items: center;
   margin-right: 10px;
}
.icon-2 i{
   font-size: 50px;
}
.carousel-item{
   height: 700px;
}
.carousel-item img{
   height: 600px;
   margin: auto;
   object-fit:cover ;
}
.custom-caption{
   right: auto;
   left: 150px;
   bottom: 5px;
   text-align: left;
   margin-top: 70px;
   color: black;
}
.custom-caption p{
   padding-left: 20px;
}

.div-5{
   background-image: url("img-5.avif");
   width: 70px;
   border-radius: 50%;
   background-size: cover;
   background-repeat: no-repeat;
   justify-content: center;
   align-items: center;
   height: 70px;
}
.caption-div{
   padding-bottom: 100px;
}
.p1{
   color: red;
}
.pg1{
   color: red;
   text-decoration: underline;
}
.pg2{
   color: black;
   font-size: 15px;
}
.btn-3{
   background-color: red;
   border-radius: 7px;
   color: white;
}
.para-blog h5{
   font-weight: bolder;
}
.div-6 h4{
   color: white;
}
.div-6 span{
   color: red;
}

.div-8{
   width: 40px;
   height: 40px;
   background-color: gray;
   border-radius: 50%;
}
.div-8 i{
   padding-top: 12px;
}
.div-9{
   width: 40px;
   height: 40px;
   background-color: gray;
   border-radius: 50%;
}
.div-9 i{
   padding-top: 12px;
}
.div-10{
   width: 40px;
   height: 40px;
   background-color: gray;
   border-radius: 50%;
}
.div-10 i{
   padding-top: 12px;
}
.div-11{
   width: 40px;
   height: 40px;
   background-color: gray;
   border-radius: 50%;
}
.div-11 i{
   padding-top: 12px;
}
.footer-list li a{
   list-style: none;
   text-decoration: underline;
   color: white;
   
}